#map {
     position: absolute;
    top: 20%;
    bottom:0;
    width: 90%;
    height:100%;
     }

.map-wrapper
{
    position: relative;
    padding:10px;
    height:55vh;
}
.int
{
    color:red;
}

.interest-area
{
    position: absolute;
    z-index:99;
    top:43%;
    margin:10px;
    width:240px;
    height:30px;
    font-size:24px;
    color:#777;
    border: none;
    outline: none;
    padding-left:10px;
    border-radius: 5px;
}